body {
 background-color:#eee;
  font-family: 'Product Sans', sans-serif;
  color:black;
  font-size:16px;
}
.banner {
 background-color:#bbb;
  border:2px solid black;
  border-radius:6px;
  padding:7px;
  margin:20px auto;
}
